/* global page styling  */
.contactUsPage {
    background-color: orange;
    
}

/* Header */
.contactUsPage h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}

/* box containing map and address */
.mapAddress {
    text-align: center;
    margin: auto 27vw;
    padding: auto 3vw;
    background-color: white;
}

    /* Map image */
    .mapAddress img {
        width: fill;
        height: 60vh;
    }